<!DOCTYPE html>
<html>
  {% include head.html %}
<body class="homepage is-preload">
  <div id="page-wrapper">
    <!-- Header -->
    <section id="header">
      <!-- Logo -->
      <h1><a href="/">Books 2 Read</a></h1>
      {% include navigation.html %}
    </section>

    <!-- Main -->
    <section id="main">
      <div class="container">
      {{ content }}
      </div><!-- /.container -->
    </section>
    <!-- Footer -->
    <section id="footer">
      <div class="container">
           <a href="mailto:arne.rossmann@gmail.com">email</a> | <a href="https://gitlab.com/arnerossmann">gitlab.com/arnerossmann</a>
           {% include footer.html %}
      </div>
    </section>
  </div>
</body>
</html>